.images-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 550px;
    
}
.image-main{
    width: 50%;
}
#pic1{
    width: 99%;
    height: 545px;
}

.images-left{
    /* height: 100%; */
    
}
#pic2, 
#pic3{
    height: 270px;
    width: 50%
}