.list-cards-content{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    height: 200px;
}
.list-cards-content-img {

}
.list-cards-content-img img{
    width: 200px;
    height: 150px;
    border-radius: 10%;

}
.list-descriptions{
    height: 140px;
    text-overflow: ellipsis;
    overflow: hidden; 
}