/* font imports*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Domine:wght@500&family=Nanum+Myeongjo&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    /* font-family: 'Amatic SC', cursive;
    font-family: 'Domine', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Vollkorn', serif;
    font-family: 'Baloo 2', cursive;
    font-family: 'Sacramento', cursive; */




.Splash-Page{
  overflow: hidden;
}

/* banner */

.banner1{
    background-image: url("./image/banner1.jpeg");
    width: 100%;
    min-height: 700px;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;

}

.banner1-content{
    background-color: rgba(255, 255, 255, 0.76);
    backdrop-filter: blur(3px);
    height: 300px;
    width: 450px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.banner1-content-h1 h1{
    font-family: 'Vollkorn', serif;
    font-size: 32px;
    letter-spacing: 3px;

}

.banner1-content-h2{
    margin-top: 2px;
    margin-bottom: 30px;
}

.banner1-content-h2 h2{
    font-family: 'Sacramento', cursive;
    font-size: 26px
    
}


.banner1-content-btn button {
    font-family: 'Baloo 2', cursive;
    background:rgba(255, 255, 255, 0.972);
    font-size: 16px;
    height: 50px;
    width: 130px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.banner1-btn:hover{
   box-shadow:0px 10px 10px rgba(0, 0, 0, 0.274);
   transform : translateY(-3px);
}

.banner1-btn span {
  position: relative;
  /* display: block; */
  width: 100%;
  height: 100%;
}
.banner1-btn:before,
.banner1-btn:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: rgba(0, 0, 0, 0.904);
}
.banner1-btn:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.banner1-btn:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.banner1-btn:hover{
  color: #000;
  background:#beedff7e;
  backdrop-filter: blur(10px);
  font-size: 18px;
}
.banner1-btn:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.banner1-btn:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.banner1-btn span:before,
.banner1-btn span:after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.904);
}
.banner1-btn span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.banner1-btn span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.banner1-btn span:hover:before {
  width: 100%;
}
.banner1-btn span:hover:after {
  width: 100%;
}


/*Explore Anywhere*/
.anywhere-container{
  /* margin-left: 1%;
  padding-left: 6%;
  margin-right: 1%;
  padding-right: 2%; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* width: 90%; */
  /* justify-content: flex-start; */
  align-items: center;
  width: 100vw;

  
  /* margin-right: 50px; */
  
}

.explore-content{
  width: 95%;
}

.explore-icons-container{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 100px);
  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
  grid-template-areas: 
    "icon1 icon2 icon3 icon4"
    "icon5 icon6 icon7 icon8" 
  ;
  margin-top: 10px;
  width: 100%;

}

.explore-icon img{
 
  width: 90px;
  height: 90px;
  border-radius: 20%;
}

.explore-icon h2{
  margin-left: 10px;
}

.explore-icon1{
  grid-area: icon1;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.explore-icon2{
  grid-area: icon2;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.explore-icon3{
  grid-area: icon3;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}


.explore-icon4{
  grid-area: icon4;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.icon4-img{
  filter: brightness(160%);
}

.explore-icon5{
  grid-area: icon5;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.icon5-img{
  filter: brightness(160%);
}

.explore-icon6{
  grid-area: icon6;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.explore-icon7{
  grid-area: icon7;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.explore-icon8{
  grid-area: icon8;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

/* Stay Anywhere */

.stayAnywhere-content{
  margin-top: 25px;
  width: 95%;
}
.stayAnywhere-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* grid-template-rows: 200px; */
    grid-column-gap: -15px;
    grid-template-areas: 
      "card1 card2 card3 card4";
    margin-top: 10px;
}

.cards-img{
  width: 300px;
  height: 250px;
  border-radius: 5%;
}
.stayAnywhere-card1{
    grid-area: card1;
    width: fit-content;
    height: fit-content;
}

.stayAnywhere-card2{
    grid-area: card2;
    width: fit-content;
    height: fit-content;
}

.stayAnywhere-card3{
    grid-area: card3;
    width: fit-content;
    height: fit-content;
}

.stayAnywhere-card4{
    grid-area: card4;
    width: fit-content;
    height: fit-content;
}

/* Hosting banner*/
.hosting-banner-container{
  background-image: url("./image/hosting-banner.png") ;
  width: 95%;
  min-height: 500px;
  background-size: cover;
  background-position: center center;

  margin-top: 40px;
  display: flex;
  align-items: center;
}

.hosting-banner-content{
    background-color: rgba(0, 0, 0, 0.89);
    backdrop-filter: blur(3px);
    height: 480px;
    width: 450px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hosting-banner-h{
  color: white
}

.hosting-banner-content h1{
  margin-bottom: 10px;
}

.hosting-banner-btn{
    margin-top: 30px;
    font-family: 'Baloo 2', cursive;
    background:rgba(255, 255, 255, 0.972);
    font-size: 16px;
    height: 50px;
    width: 130px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.hosting-banner-btn:hover{
  color: rgb(141, 196, 243);
  font-size: 20px;
  height: 55px;
  width: 135px;
}
