@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Fjalla One', sans-serif; */
.closeModal{
    display: flex;
    flex-direction: row-reverse
}

.closeModal i{
    cursor: pointer;
}
.login-form-header {
    background-color: #dfdede68;
    border-bottom:  1px solid #f0f0f0;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-header h2{
    margin-bottom: 3px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 30px;

}

.login-form-header div p{
    font-family: 'Quicksand', sans-serif;
    font-size: large
    
}

.login-form {
    padding: 30px 40px
}

.form-inputs {
    position: relative;
    margin-bottom: 22px;
    padding-bottom: 20px;
}


.form-inputs label {
    display: inline-block;
    margin-bottom: 5px;
}


.form-inputs input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

/* .form-inputs.success input {
    border-color: #2ecc71;
}

.form-inputs.error input i.fa-exclamation-circle{
    border-color: #e74c3c;
} */

.fa-check-circle,
.fa-exclamation-circle {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.fa-envelope,
.fa-unlock-alt{
    position: absolute;
    top: 40px;
    left: 10px;
    color: rgb(26, 26, 26);
}

/* .form-inputs.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-inputs.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
} */


.form-inputs small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.submit-form-btn{
    background-color: #a8dadc;
    border: 2px solid #a8dadc;
    font-weight: bolder;
    letter-spacing: 2px;

    
}

.submit-form-btn:hover{
    background-color: #7edee1e7;
    letter-spacing: 4px;

   
}

.login-other-btn:hover{
    letter-spacing: 2px;
    word-spacing: 3px;
    background-color: rgb(160, 197, 199);
}
.login-other-btn{
    background-color: rgba(160, 197, 199, 0.913);
    border: 2px solid #a8dadc;
}

.submit-form-btn,
.login-other-btn{
  
    color: #fff;
    display: block;
    width: 100%;
    padding: 13px;
    font-size: 16px;
}

.login-bottom{
    padding: 1px 40px 10px 40px
}
#or {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid rgb(75, 75, 75); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

#or span { 
    background:#fff; 
    padding:0 10px; 
    color: rgb(2, 2, 2);
}

#question{
    margin-bottom: 5px;
}



.login-signup p{
    text-align: center;
}
